<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community2.dao.MessageMapper">

    <sql id="selectFields">
        id, from_id, to_id, conversation_id, content, status, create_time
    </sql>

    <sql id="insertFields">
        from_id, to_id, conversation_id, content, status, create_time
    </sql>


    <select id="selectConversationCount" resultType="int">
        select count(*) from(
            select count(*)
            from message
            where from_id = #{userId} or to_id = #{userId}
            group by conversation_id
        )as t
    </select>

    <select id="selectConversationIds" resultType="String">
        select conversation_id
        from message where from_id = #{userId} or to_id = #{userId}
        group by conversation_id
        order by create_time desc
        limit  #{offset} , #{limit}
    </select>


    <select id="selectLetterCount" resultType="int">
        select count(*) from message
        where 1 = 1
        <if test="status!=-1">
            and status = #{status}
        </if>
        <if test="userId!=0">
            and to_id = #{userId}
        </if>
        <if test="conversationId!=null">
            and conversation_id = #{conversationId}
        </if>
    </select>



    <select id="selectLetters" resultType="Message">
        select <include refid="selectFields"></include>
        from message
        where conversation_id = #{conversationId}
        order by create_time desc
        limit  #{offset} , #{limit}
    </select>

    <update id="updateStatus">
        update message set status = #{status}
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <insert id="insertMessage" keyProperty="id" parameterType="Message">
        insert into message (<include refid="insertFields"></include>)
        values (#{fromId},#{toId},#{conversationId},#{content},#{status},#{createTime})
    </insert>


</mapper>